@import url("https://fonts.googleapis.com/css2?family=Marmelad&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Varela+Round&display=swap");

:root {
  --primary: #f48c25;
  --primary-hover: #e07b1d;
  --bg-dark: #0a0a0a;
  --bg-light: #f8f7f5;
  --glass-bg: rgba(255, 255, 255, 0.03);
  --glass-border: rgba(255, 255, 255, 0.1);
  --text-white: #ffffff;
  --text-muted: rgba(255, 255, 255, 0.6);
  --transition: all 0.3s ease;

/* fonts */
  --font-main: "Nunito", sans-serif;
}



body { font-family: var(--font-main), sans-serif; background: var(--bg-dark); color: white; padding: 20px; }
header { display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #444; padding-bottom: 10px; }
#connection-status { background: #28a745; padding: 5px 10px; border-radius: 5px; font-size: 0.8rem; }

#orders-container { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    margin-top: 20px; 
}

.order-card { 
    background: #333; 
    border-radius: 10px; 
    padding: 15px; 
    border-left: 8px solid var(--primary); /* Yellow for Pending */
}

.order-card.Preparing { border-left-color: #007bff; } /* Blue */
.order-card.Delivered { opacity: 0.5; border-left-color: #28a745; } /* Green */

.btn-group { margin-top: 15px; display: flex; gap: 5px; }
button { flex: 1; padding: 8px; cursor: pointer; border: none; border-radius: 4px; font-weight: bold; }
.prep-btn { background: #007bff; color: white; }
.done-btn { background: #28a745; color: white; }